<!DOCTYPE html>
<html>
  <head>
    <title>New Puppy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Create New Puppy</h1>
    <form action="/puppies/new" method="post">
        username: <input type="text" name="username"> </br>
        image: <input type="text" name="image" placeholder="Post Image URL"> </br>
        info: <input type="text" name="info" placeholder="Picture Info"> </br>
        <input type="submit" value="Submit">
      </form>    
  </body>
</html>
