body {
  padding: 50px;
  font: 12px 'Shadows Into Light', cursive;
}
}

a {
  color: #00B7FF;
}

h2 {
  font-size: 30px;
  font-family: 'Londrina Outline', cursive;
}

.new {
  font-family: 'Shadows Into Light', cursive;
}